USE [master]
GO
/****** Object:  Database [QuanLyCaPhe]    Script Date: 6/15/2019 11:47:19 PM ******/
CREATE DATABASE [QuanLyCaPhe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLiCaPhe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLiCaPhe.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLiCaPhe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLiCaPhe_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCaPhe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCaPhe]
GO
/****** Object:  Table [dbo].[tblBan]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblBan](
	[MaBan] [varchar](3) NOT NULL,
	[SoBan] [int] NOT NULL,
	[Khu] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblBanCoKhach]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblBanCoKhach](
	[MaBan] [varchar](3) NULL,
	[SoBan] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblBangLuong]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblBangLuong](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NOT NULL,
	[MaNV] [varchar](5) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[TongGioLam] [float] NOT NULL,
	[MucLuong] [money] NOT NULL,
	[TienLuong] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblBanSDNhieu]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblBanSDNhieu](
	[MaBan] [varchar](3) NULL,
	[SoBan] [int] NOT NULL,
	[LuotSD] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblChamCongNV]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblChamCongNV](
	[MaNV] [varchar](5) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[CaLam] [nvarchar](30) NOT NULL,
	[Ngay] [datetime] NOT NULL,
	[SoGioLam] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCTDoanhThu]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCTDoanhThu](
	[Ngay] [datetime] NOT NULL,
	[MaMon] [varchar](5) NOT NULL,
	[SoLuongBan] [int] NOT NULL,
	[TongTien] [money] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCTHoaDon]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCTHoaDon](
	[MaHD] [int] NOT NULL,
	[MaMon] [varchar](5) NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
	[ThanhTien] [money] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCTNhapNL]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCTNhapNL](
	[MaPhieuNhap] [int] NOT NULL,
	[MaNL] [varchar](5) NOT NULL,
	[TenNL] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[DonGia] [money] NOT NULL,
	[ThanhTien] [money] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCTOder]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCTOder](
	[MaOder] [int] NULL,
	[MaBan] [varchar](3) NOT NULL,
	[MaMon] [varchar](5) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonViTinh] [nvarchar](30) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCTXuatNL]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCTXuatNL](
	[MaPhieuXuat] [int] NOT NULL,
	[MaNL] [varchar](5) NOT NULL,
	[TenNL] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonViTinh] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblDoanhThu]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDoanhThu](
	[Ngay] [datetime] NOT NULL,
	[DoanhThu] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ngay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDSMon]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblDSMon](
	[MaMon] [varchar](5) NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
	[MaLoaiMon] [nvarchar](50) NOT NULL,
	[DonGia] [money] NOT NULL,
	[DonViTinh] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblHoaDon]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblHoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaOder] [int] NOT NULL,
	[MaBan] [varchar](3) NOT NULL,
	[Ngay] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblLoaiMon]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiMon](
	[MaLoaiMon] [nvarchar](50) NOT NULL,
	[TenLoaiMon] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNguyenLieu]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblNguyenLieu](
	[MaNL] [varchar](5) NOT NULL,
	[TenNL] [nvarchar](50) NOT NULL,
	[DonGia] [money] NOT NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
	[SoLuongCon] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblNhanVien]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblNhanVien](
	[MaNV] [varchar](5) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[GioiTinh] [nvarchar](30) NOT NULL,
	[TrinhDoHocVan] [nvarchar](30) NULL,
	[ChucVu] [nvarchar](30) NOT NULL,
	[SoCMND] [char](11) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblNhapNL]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblNhapNL](
	[MaPhieuNhap] [int] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[TongTien] [money] NOT NULL,
	[MaNV] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblOder]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblOder](
	[MaOder] [int] NOT NULL,
	[MaBan] [varchar](3) NOT NULL,
	[MaNV] [varchar](5) NOT NULL,
	[Ngay] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaOder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUser](
	[MaUser] [varchar](5) NOT NULL,
	[PassWord] [varchar](10) NOT NULL,
	[TenThuNgan] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblXuatNL]    Script Date: 6/15/2019 11:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblXuatNL](
	[MaPhieuXuat] [int] NOT NULL,
	[NgayXuat] [datetime] NOT NULL,
	[MaNV] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tblBan] ([MaBan], [SoBan], [Khu]) VALUES (N'A01', 1, N'A')
INSERT [dbo].[tblBan] ([MaBan], [SoBan], [Khu]) VALUES (N'A02', 2, N'A')
INSERT [dbo].[tblBan] ([MaBan], [SoBan], [Khu]) VALUES (N'A03', 3, N'A')
SET IDENTITY_INSERT [dbo].[tblBangLuong] ON 

INSERT [dbo].[tblBangLuong] ([STT], [Thang], [MaNV], [TenNV], [TongGioLam], [MucLuong], [TienLuong]) VALUES (1, 23, N'NV1', N'Lê Hải Sơn', 41, 12000.0000, 492000.0000)
SET IDENTITY_INSERT [dbo].[tblBangLuong] OFF
INSERT [dbo].[tblBanSDNhieu] ([MaBan], [SoBan], [LuotSD]) VALUES (N'A01', 1, 57)
INSERT [dbo].[tblBanSDNhieu] ([MaBan], [SoBan], [LuotSD]) VALUES (N'B31', 31, 5)
INSERT [dbo].[tblBanSDNhieu] ([MaBan], [SoBan], [LuotSD]) VALUES (N'A03', 3, 2)
INSERT [dbo].[tblChamCongNV] ([MaNV], [TenNV], [CaLam], [Ngay], [SoGioLam]) VALUES (N'NV1', N'Lê Hải Sơn', N'Ca Sáng', CAST(0x0000AA5600000000 AS DateTime), 5)
INSERT [dbo].[tblChamCongNV] ([MaNV], [TenNV], [CaLam], [Ngay], [SoGioLam]) VALUES (N'NV1', N'Lê Hải Sơn', N'Ca Sáng', CAST(0x0000AA5500000000 AS DateTime), 8)
INSERT [dbo].[tblChamCongNV] ([MaNV], [TenNV], [CaLam], [Ngay], [SoGioLam]) VALUES (N'NV1', N'Lê Hải Sơn', N'Ca Sáng', CAST(0x0000AA5400000000 AS DateTime), 8)
INSERT [dbo].[tblCTDoanhThu] ([Ngay], [MaMon], [SoLuongBan], [TongTien]) VALUES (CAST(0x0000AA6C00000000 AS DateTime), N'M01', 13, 260.0000)
INSERT [dbo].[tblCTDoanhThu] ([Ngay], [MaMon], [SoLuongBan], [TongTien]) VALUES (CAST(0x0000AA6C00000000 AS DateTime), N'M02', 4, 80.0000)
INSERT [dbo].[tblCTDoanhThu] ([Ngay], [MaMon], [SoLuongBan], [TongTien]) VALUES (CAST(0x0000AA6C00000000 AS DateTime), N'M06', 29, 290.0000)
INSERT [dbo].[tblCTHoaDon] ([MaHD], [MaMon], [TenMon], [SoLuong], [DonGia], [ThanhTien]) VALUES (68, N'M06', N'CocaCola', 3, 10.0000, 30.0000)
INSERT [dbo].[tblCTHoaDon] ([MaHD], [MaMon], [TenMon], [SoLuong], [DonGia], [ThanhTien]) VALUES (68, N'M12', N'Kim Quất Trân Châu', 4, 50.0000, 200.0000)
INSERT [dbo].[tblCTHoaDon] ([MaHD], [MaMon], [TenMon], [SoLuong], [DonGia], [ThanhTien]) VALUES (68, N'M11', N'Trà Đào Cam Xả ', 3, 50.0000, 150.0000)
INSERT [dbo].[tblDoanhThu] ([Ngay], [DoanhThu]) VALUES (CAST(0x0000AA5B00000000 AS DateTime), 0.0000)
INSERT [dbo].[tblDoanhThu] ([Ngay], [DoanhThu]) VALUES (CAST(0x0000AA5E00000000 AS DateTime), 0.0000)
INSERT [dbo].[tblDoanhThu] ([Ngay], [DoanhThu]) VALUES (CAST(0x0000AA5F00000000 AS DateTime), 0.0000)
INSERT [dbo].[tblDSMon] ([MaMon], [TenMon], [MaLoaiMon], [DonGia], [DonViTinh]) VALUES (N'M01', N'Cà Phê Đen', N'LM01', 20.0000, N'Cốc ')
INSERT [dbo].[tblDSMon] ([MaMon], [TenMon], [MaLoaiMon], [DonGia], [DonViTinh]) VALUES (N'M02', N'Cà Phê Sữa', N'LM01', 20.0000, N'Cốc')
INSERT [dbo].[tblDSMon] ([MaMon], [TenMon], [MaLoaiMon], [DonGia], [DonViTinh]) VALUES (N'M03', N'Bạc Xỉu', N'LM01', 30.0000, N'Cốc')
SET IDENTITY_INSERT [dbo].[tblHoaDon] ON 

INSERT [dbo].[tblHoaDon] ([MaHD], [MaOder], [MaBan], [Ngay]) VALUES (67, 46, N'A01', CAST(0x0000AA6D00000000 AS DateTime))
INSERT [dbo].[tblHoaDon] ([MaHD], [MaOder], [MaBan], [Ngay]) VALUES (68, 47, N'A02', CAST(0x0000AA6D00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[tblHoaDon] OFF
INSERT [dbo].[tblLoaiMon] ([MaLoaiMon], [TenLoaiMon]) VALUES (N'LM01', N'Cafe ')
INSERT [dbo].[tblLoaiMon] ([MaLoaiMon], [TenLoaiMon]) VALUES (N'LM02', N'Nước Ngọt')
INSERT [dbo].[tblLoaiMon] ([MaLoaiMon], [TenLoaiMon]) VALUES (N'LM03', N'Trà')
INSERT [dbo].[tblNguyenLieu] ([MaNL], [TenNL], [DonGia], [DonViTinh], [SoLuongCon]) VALUES (N'NL01', N'Cà Phê Trung Nguyên', 100000.0000, N'Hộp', 112)
INSERT [dbo].[tblNguyenLieu] ([MaNL], [TenNL], [DonGia], [DonViTinh], [SoLuongCon]) VALUES (N'NL02', N'Sữa tươi', 100000.0000, N'Hộp', 115)
INSERT [dbo].[tblNguyenLieu] ([MaNL], [TenNL], [DonGia], [DonViTinh], [SoLuongCon]) VALUES (N'NL03', N'Chanh', 100000.0000, N'Kg', 15)
INSERT [dbo].[tblNhanVien] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [TrinhDoHocVan], [ChucVu], [SoCMND], [DiaChi]) VALUES (N'NV1', N'Lê Hải Sơn', CAST(0x00008C8400000000 AS DateTime), N'Nam', N'Đại Học', N'Quản Lý', N'013492957  ', N'Hà Nội')
INSERT [dbo].[tblNhanVien] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [TrinhDoHocVan], [ChucVu], [SoCMND], [DiaChi]) VALUES (N'NV2', N'Đinh Xuân Dũng', CAST(0x00008C6D00000000 AS DateTime), N'Nam', N'Đại học', N'Pha Chế', N'012343544  ', N'Quảng Ninh')
INSERT [dbo].[tblNhanVien] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [TrinhDoHocVan], [ChucVu], [SoCMND], [DiaChi]) VALUES (N'NV3', N'Phạm Văn Tùng', CAST(0x00008C9600000000 AS DateTime), N'Nam', N'Cấp 3', N'Giữ Xe', N'013492945  ', N'Nam Định')
INSERT [dbo].[tblOder] ([MaOder], [MaBan], [MaNV], [Ngay]) VALUES (1, N'A01', N'NV1', CAST(0x0000AA6B00000000 AS DateTime))
INSERT [dbo].[tblOder] ([MaOder], [MaBan], [MaNV], [Ngay]) VALUES (2, N'A01', N'NV1', CAST(0x0000AA6C00000000 AS DateTime))
INSERT [dbo].[tblOder] ([MaOder], [MaBan], [MaNV], [Ngay]) VALUES (3, N'B31', N'NV1', CAST(0x0000AA6C00000000 AS DateTime))
INSERT [dbo].[tblUser] ([MaUser], [PassWord], [TenThuNgan]) VALUES (N'Admin', N'1', N'Hải Sơn')
INSERT [dbo].[tblUser] ([MaUser], [PassWord], [TenThuNgan]) VALUES (N'tungg', N'1234', N'Minh Tùng')
ALTER TABLE [dbo].[tblBanCoKhach]  WITH CHECK ADD FOREIGN KEY([MaBan])
REFERENCES [dbo].[tblBan] ([MaBan])
GO
ALTER TABLE [dbo].[tblBangLuong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[tblNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tblBanSDNhieu]  WITH CHECK ADD FOREIGN KEY([MaBan])
REFERENCES [dbo].[tblBan] ([MaBan])
GO
ALTER TABLE [dbo].[tblChamCongNV]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[tblNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tblCTDoanhThu]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[tblDSMon] ([MaMon])
GO
ALTER TABLE [dbo].[tblCTDoanhThu]  WITH CHECK ADD FOREIGN KEY([Ngay])
REFERENCES [dbo].[tblDoanhThu] ([Ngay])
GO
ALTER TABLE [dbo].[tblCTHoaDon]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[tblDSMon] ([MaMon])
GO
ALTER TABLE [dbo].[tblCTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_tblCTHoaDon_tblHoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[tblHoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[tblCTHoaDon] CHECK CONSTRAINT [FK_tblCTHoaDon_tblHoaDon]
GO
ALTER TABLE [dbo].[tblCTNhapNL]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[tblNhapNL] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[tblCTNhapNL]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[tblNguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[tblCTOder]  WITH CHECK ADD FOREIGN KEY([MaBan])
REFERENCES [dbo].[tblBan] ([MaBan])
GO
ALTER TABLE [dbo].[tblCTOder]  WITH CHECK ADD FOREIGN KEY([MaOder])
REFERENCES [dbo].[tblOder] ([MaOder])
GO
ALTER TABLE [dbo].[tblCTXuatNL]  WITH CHECK ADD FOREIGN KEY([MaPhieuXuat])
REFERENCES [dbo].[tblXuatNL] ([MaPhieuXuat])
GO
ALTER TABLE [dbo].[tblCTXuatNL]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[tblNguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[tblDSMon]  WITH CHECK ADD  CONSTRAINT [FK_tblDSMon_tblLoaiMon] FOREIGN KEY([MaLoaiMon])
REFERENCES [dbo].[tblLoaiMon] ([MaLoaiMon])
GO
ALTER TABLE [dbo].[tblDSMon] CHECK CONSTRAINT [FK_tblDSMon_tblLoaiMon]
GO
ALTER TABLE [dbo].[tblHoaDon]  WITH CHECK ADD FOREIGN KEY([MaBan])
REFERENCES [dbo].[tblBan] ([MaBan])
GO
ALTER TABLE [dbo].[tblNhapNL]  WITH CHECK ADD  CONSTRAINT [FK_tblNhapNL_tblNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tblNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tblNhapNL] CHECK CONSTRAINT [FK_tblNhapNL_tblNhanVien]
GO
ALTER TABLE [dbo].[tblOder]  WITH CHECK ADD FOREIGN KEY([MaBan])
REFERENCES [dbo].[tblBan] ([MaBan])
GO
ALTER TABLE [dbo].[tblOder]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[tblNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tblXuatNL]  WITH CHECK ADD  CONSTRAINT [FK_tblXuatNL_tblNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tblNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tblXuatNL] CHECK CONSTRAINT [FK_tblXuatNL_tblNhanVien]
GO
USE [master]
GO
