<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_QLCP.Properties.Settings.QuanLiCaPheConnectionString"
            connectionString="Data Source=DESKTOP-K9B9VR3\SQLEXPRESS;Initial Catalog=QuanLiCaPhe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>